<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Hello. My name is Chatrin Sutjitjul</h2>
    </div>
    <div class="row">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" routerLink='template-form'>Contract form (Template-Driven)</a></li>
        <li class="page-item"><a class="page-link" routerLink='reactive-form'>Contract form (Reactive)</a></li>
        <li class="page-item"><a class="page-link" routerLink='contract-info'>Contract form (Total Contract information)</a></li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
