.card{
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

label{
  font-size: 20px;
  padding-bottom: 5px;
}

.form-check-label{
  padding-right: 20px;
}

.btn{
  margin-left: 2px;
  margin-right: 2px;
}

.warning{
  color: red;
}

.card{
  border-radius: 2%;
}

